dbVendor=mysql
dbConnectString=dbi:mysql:orthomcl:172.17.0.17:3306
dbLogin=orthomcl_user
dbPassword=shhh_this_is_secret
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE
